{% extends 'base.html' %}
{% load static %}

{% block main %}
          <div class="wrapper">
  <div class="top"><div class="title"><h1>Material Style Blog</h1></div></div>
  <div class="content">
    <div class="card first">
      <h2><a href="#">Just a blog post</a></h2>
      <p class="date">26 October, 2014</p>
      <p class="text">Lorem ipsum dolor sit amet, consectetur aurient montes, nascetur ridiculus mus. In rutrum accumsan ultricies.
<br />
Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel </p>

    </div>
  </div>
          </div>

            {% endblock %}


