{% extends 'base2.html' %}
{% load static %}
{% block main %}
 <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate mb0">
              <h1 class="mb0">Our Articles</h1>
            </div>
          </div>
        </div>
      </section>
    <section class="probootstrap-section">
        <div class="container">
          <div class="row">

{% for post in posts %}
              <div class="col-md-6">
              <div class="probootstrap-service-2 probootstrap-animate">
                <div class="image">
                  <div class="image-bg">

                      {% if post.img %}
                          <img src="{{ post.img.url }}" alt="{{ post.img.url }}">
                      {% else %}
                          <img src="{% static 'images/download.png' %}">
                      {% endif %}

                  </div>
                </div>
                <div class="text">
                  <span class="probootstrap-meta"><i class="icon-calendar2"></i> {{ post.post_date }}</span>
                  <h3>{{ post.title }}</h3>
                    <p>{{ post.short_desc }}</p>
                  <p><a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More..</a> </p>
                </div>
              </div>
            </div>
{% endfor %}


          </div>
        </div>

    </section>

{% endblock %}