{% extends 'blog/../base.html' %}
{% load static %}

{% block main %}
          <div >

			<div class="mySlides fade">
			  <img src="{% static "images/02.jpg" %}">
			</div>

			<div class="mySlides fade">
				<img src="{% static "images/04.jpg" %}">
			</div>

			<div class="mySlides fade">
			  <img src="{% static "images/05.jpg" %}">
			</div>

			</div>


			<div class='slideshow'>
			  <span class="dot"></span>
			  <span class="dot"></span>
			  <span class="dot"></span>
			</div>
    <div  class='thirdbox'>
				<h1 align='center'>
						Welcome to arham
				</h1>

				<div class='notice'>
					<h3 align='center'>Notices</h3>
					<marquee  direction="up" onmouseover="this.stop();" onmouseout="this.start();">
						<p>To bismillakhans@gmail.com </p>
						<p>List of documents submitted in phase I </p>
						1. Next Workshop Brochure (attachment === 2018brochure.pdf) <br>
						2. Photographs of the Book Release Function(will be sent later)<br>
						3. Web Site Emblem.(attachment=== imrtemblem.png)<br>
						4. Governing Body list (attachment=== GBList.pdf) <br>
						5. Expecting website address: www.imrtkerala.com
						<p>Forwarded by </p>
						Secretary, IMRT
					</marquee>

				</div>
				<div class='intro'>

				<section>
    <div>
        <div class="row">

            <div class="col-xl-7 col-lg-9 col-md-9 col-sm-12">
               <h1>
                            The Institute of Mathematics Research and Train-
) is aimed at organizing workshops in collabo- IMRT ing(
ration with colleges offering M.Sc. programme in Mathematics
for improving mathematics education and orienting
to research activities. As part of it the educators
and researchers of IMRT came forward by conducting
“Mathematics En- series of workshops under the title
with richment Programme for Graduate Students”
special mention on problem solving sessions.
During 2015-16, IMRT organized a workshop on “Foundations
of Linear Algebra”which was held at St. Albert’s
College, Ernakulam. During 2016-17 workshop was organized
on “Foundations of Real Analysis” in the six
colleges: University College, Thiruvananthapuram, St.
Alberts College Ernakulam, SB College Changanassery,
Govt. College Chalakkudy, St.Gregorios College Kottarakkara
and SD College Alappuzha.
“Foundations of This year the topic for workshops is
and will be conducted at various Complex Analysis”
places in the state. The following is the currently finalized
schedule
          <hr>
               </h1>


            <ol>
    <li>
    <p align="left">Organizing workshops in collaboration with colleges offering M.Sc. programme in Mathematics for
improving mathematics education and orienting to research activities. developing the application of
mathematical models to the study of problems in areas such as Economics, Engineering, Sociology,
Demography, Biology, Medicine etc</p>
    </li>
    <hr>
    <li>
     <p align="left">Conducting educational and training programmes including seminars, conferences, symposia, short
term and long term courses for both teachers and students of schools, colleges and universities.</p>
</li>
<hr>
    <li>
          <p align="left">Undertaking contract research activities for governmental agencies, financial institutions, industrial
enterprises, public and private agencies and promote publications of research papers, monographs,
books, periodicals and other publications covering the various aspects of mathematical sciences
and their applications.</p>
</li>
<hr>
    <li>
     <p align="left">Encouraging cooperation with universities, research and para-research organizations, governmental
and other agencies in promoting and running programmes in mathematical sciences and their
applications</p>
</li>
<hr>
    <li>
  <p align="left">Sponsoring research in all areas of mathematical sciences and their applications by academic and
research institutes and individuals selected by the Institute and support such research financially
and otherwise.</p>
</li>
</ol>
<hr>
        </div>
    </div>
</section>
				</div>
			</div>

            {% endblock %}


