{% load static %}

<html>
	<head>
		<link href="{% static "css/web.css" %}" rel="stylesheet">
		<link rel="stylesheet" href="">
	</head>
	<body>
			<div>



				<h1 align='center'>INTITUTE OF MATHEMATICS</h1>
				<h1 align='center'>REASEARCH AND TRAINING<h1>
			</div>
			<div class='secondbox'>
				<table>
					<tr>
						<td><a href='web.html' style='color:white'>Home</a></td>
						<td><a href='vision and mission.html'>Vision and misson </a></td>
						<td><a href='members.html'>Members </a></td>
						<td><a href='gallery.html'>Gallery </a></td>
						<td><a href='contact.html'>Contact us </a></td>
						<td><a href='resources.html'>Resources</a></td>
					</tr>
				</table>
			</div>
			<div >

			<div class="mySlides fade">
			  <img src="{% static "images/02.jpg" %}">
			</div>

			<div class="mySlides fade">
				<img src="{% static "images/04.jpg" %}">
			</div>

			<div class="mySlides fade">
			  <img src="{% static "images/05.jpg" %}">
			</div>

			</div>


			<div class='slideshow'>
			  <span class="dot"></span>
			  <span class="dot"></span>
			  <span class="dot"></span>
			</div>

			<div  class='thirdbox'>
				<h1 align='center'>
						Welcome to arham
				</h1>

				<div class='notice'>
					<h3 align='center'>Notices</h3>
					<marquee  direction="up" onmouseover="this.stop();" onmouseout="this.start();">
						<p>To bismillakhans@gmail.com </p>
						<p>List of documents submitted in phase I </p>
						1. Next Workshop Brochure (attachment === 2018brochure.pdf) <br>
						2. Photographs of the Book Release Function(will be sent later)<br>
						3. Web Site Emblem.(attachment=== imrtemblem.png)<br>
						4. Governing Body list (attachment=== GBList.pdf) <br>
						5. Expecting website address: www.imrtkerala.com
						<p>Forwarded by </p>
						Secretary, IMRT
					</marquee>

				</div>
				<div class='intro'>

					<ul>
						<li>About 2 decades of excellence in the field of multi-disciplinary education </li>
						<li>Shaped careers of more than 20000 students from over 40 countries </li>
						<li>Signed M.O.Us with top 22 universities / colleges in 7 countries such as USA, UK, Vietnam, Kuwait, Bahrain, Sudan and Afghanistan </li>
						<li>Recipient of more than 25 National and International awards </li>
						<li>Awarded over 800 scholarships to underprivileged and meritorious students </li>
					</ul>
				</div>
			</div>

			<div class='lowerbox'>
			<table align='center'>
					<tr>
						<td><a href='' style='color:white'>Home</a>|</td>
						<td><a href=''>Vision and misson </a>|</td>
						<td><a href=''>Members </a>|</td>
						<td><a href=''>Gallery </a>|</td>
						<td><a href=''>Contact us </a>|</td>
						<td><a href=''>Resources </a>|</td>
					</tr>
				</table>
			</div>
			<script src="{% static "js/web.js" %}"></script>
	</body>
</html>